@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding: 0;
  background-image: url('/images/ST-bg-image.jpg');
    background-size: cover;
    /* Ensure the image covers the entire background */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-position: center center;
    /* Center the image */
    height: auto;
    /* Ensure the body takes full height */
    margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add this to your global CSS file or a CSS module */
.outline-text {
  color: #151B54;
  /* This is blue-950 from TailwindCSS */
  text-shadow:
    -1px -1px 0 #FF7900,
    /* This is orange-600 from TailwindCSS */
    1px -1px 0 #FF7900,
    -1px 1px 0 #FF7900,
    1px 1px 0 #FF7900;
}


.carousel-item {
  position: relative;
  height: 100%;
  /* Ensure the carousel item takes full height */
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.no-underline {
  text-decoration: none;
}